{% extends "index.html" %}

{% block content %}
    <h1 class="display-4 text-center my-5">About Us</h1>

    <main>
        <div class="container col-md-8 col-sm-12">
            <section class="app-description">
                <h2>About Quizz</h2>
                <p>
                    Welcome to this interactive quiz platform! Whether you’re here to test your knowledge, learn something new, or simply have fun, we’ve got you covered. 
                    Let’s dive into what makes this quiz app special:
                </p>
            </section>

            <section class="how-it-works">
                <h2>What We Offer:</h2>
                <ul>
                    <li>Engaging Quizzes: Explore a wide range of topics through our carefully crafted quizzes.</li>
                    <li>Score Tracking: Keep track of your progress and challenge yourself to improve.</li>
                    <li>Participate in time-limited quizzes and answer questions to rank yourself on Quizz.</li>
                    <li>User-Friendly Interface: We’ve designed our app to be intuitive and visually appealing.</li>
                </ul>
            </section>
            <section class="mission">
                <h2>Our Mission:</h2>
                <p>We’re passionate about making learning enjoyable. 
                    Our goal is to provide a platform where users can engage, learn, and share their quiz experiences. 
                    Join us on this exciting journey!
                </p>
            </section>
        </div>
    </main>
{% endblock content %}